/*CSS RESET
--------------------------------*/
@import url("reset.css");

/*IMPORTING FONT
--------------------------------*/
@font-face {
    font-family: 'source-serif-pro';
    src: url("https://glyph.medium.com/font/76c214a/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/source-serif-pro-400-italic.woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'source-serif-pro';
    src: url("https://glyph.medium.com/font/8e059b2/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/source-serif-pro-400-normal.woff");
    font-weight: 400;
    font-style: normal;
}


/*VARIABLES
--------------------------------*/
:root {
    /*--COLOR--*/
    --clr-primary: ;
    /* None in this project */

    --clr-accent-100: 113deg 30% 93%;
    --clr-accent-500: 113deg 30% 77%;
    --clr-accent-900: 119deg 71% 31%;
    --clr-accent-1000: 119deg 71% 25%;

    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 85%;
    --clr-neutral-400: 0 0% 55%;
    --clr-neutral-900: 0 0% 16%;

    /*--TYPOGRAPHY--*/
    /*Font Size*/
    --fs-100: 0.3rem;
    --fs-125: 0.6rem;
    --fs-150: 0.7rem;
    --fs-200: 0.8rem;
    --fs-250: 0.95rem;
    --fs-300: 1rem;
    --fs-400: 1.1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-900: 1.5rem;

    /*Base Font Size*/
    font-size: 20px;

    /*--Font Family--*/
    --ff-base: 'source-serif-pro', 'Times New Roman', serif;
    --ff-accent: Arial, Helvetica, sans-serif;

    /*--Font Weight--*/
    --fw-light: 400;
    --fw-regular: 500;
    --fw-bold: 700;

    /*Transition*/
    --transition-slow: 0.4s ease;
    --transition-fast: 0.1s ease;
}

/*UTILITY CLASSES
--------------------------------*/
/*--LAYOUT--*/
/*Flex*/
.flex-group {
    display: flex;
    gap: var(--flex-gap);
}

.flex-group--wrap {
    display: flex;
    gap: var(--flex-gap);
    flex-wrap: wrap;
}

/*Grid*/
.grid-group {
    display: grid;
    gap: var(--grid-gap);
}

/*--SCREENREADER--*/
.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    position: absolute;
}

/*Pointer Events*/
.invisible {
    pointer-events: none;
}

/*--TYPOGRAPHY--*/
.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.border-left {
    width: calc(100% + 1em);
    margin-left: -1em;
    padding-left: 1em;
    margin-block: 2em;
    border-left: 3.5px solid hsl(var(--clr-neutral-900));
}


/*--BUTTONS-*/
.btn {
    border: none;
    border-radius: 100vw;

    cursor: pointer;
    transition: var(--transition-slow);
}

i,
span {
    transition: var(--transition-slow);
}

/*Black Buttons*/
.black {
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-neutral-900));
}

/*White Buttons*/
.white {
    color: hsl(var(--clr-accent-900));
    background-color: transparent;
}

.white:is(:hover, :focus) {
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}

/*Green Buttons*/
.green {
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}

.green:is(:hover, :focus) {
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-1000));
}

/*--IMAGES--*/
.your-profile-img,
.other-user-profile-img {
    border-radius: 50%;
    border: 2px solid transparent;
    transition: var(--transition-slow);
}

.your-profile-img:is(:hover, :focus) {
    border: 2px solid hsl(var(--clr-accent-900));
}

.other-user-profile-img:is(:hover, :focus) {
    border: 2px solid hsl(var(--clr-neutral-400)/50%);
}

/*--Tooltip--*/
.tooltip-parent {
    width: fit-content;

    position: relative;
}

/*Animate upwards*/
.tooltip-parent:hover>.anim-up {
    display: block;

    animation: pop-up forwards var(--transition-fast);
}

/*Animate towards the right*/
.tooltip-parent:hover>.anim-right {
    display: block;

    animation: pop-right forwards var(--transition-fast);
}

@keyframes pop-up {
    0% {
        transform: translate(-50%, -100%);
    }

    100% {
        transform: translate(-50%, -110%);
    }
}

@keyframes pop-right {
    0% {
        transform: translate(5px, -50%);
    }

    100% {
        transform: translate(10px, -50%);
    }
}

.anim-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -125%);
}

.anim-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(10px, -50%);
}

.tooltip-container {
    position: relative;
    --flex-gap: 0.75em;
    align-items: center;
}

.tooltip {
    padding: 0.8em;
    box-sizing: border-box;
    border-radius: 0.15em;

    display: none;

    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-neutral-900));
}

.tooltip button {
    border: none;

    font-size: 0.9rem;

    background: transparent;
    color: hsl(var(--clr-neutral-100));

    cursor: pointer;
}

.tooltip-divider {
    width: 1.5px;
    height: 22px;

    background-color: hsl(var(--clr-neutral-200)/50%);
}

.tooltip {
    font-size: 0.8em;

    cursor: text;

    color: hsl(var(--clr-neutral-100) / 50%);
}

/*--ADDITONAL SHAPES FOR TOOLTIP*/

/*Triangle shape on tooltip*/
.anim-up>.tooltip-container::after,
.anim-right>.tooltip-container::after {
    content: '';

    position: absolute;

    background-color: hsl(var(--clr-neutral-900));
}

.anim-up>.tooltip-container::after {
    width: 2.5em;
    height: 1.05em;

    z-index: 99;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);

    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.anim-right>.tooltip-container::after {
    height: 1.5em;
    width: 1.1em;

    z-index: 99;
    top: 50%;
    left: 0%;
    transform: translate(-130%, -50%);

    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

/*This is to expand the area of the tooltip so it doesn't disappear when you try and hover on it*/
.anim-up>.tooltip-container::before,
.anim-right>.tooltip-container::before {
    content: '';

    position: absolute;

    background-color: transparent;

    cursor: auto;
}

.anim-up>.tooltip-container::before {
    width: calc(100% + 1em);
    height: 1em;

    top: 100%;
    left: -0.5em;
    transform: translateY(50%);
}

.anim-right>.tooltip-container::before {
    width: 1.3em;
    height: calc(100% + 1em);

    top: -0.5em;
    left: -0.5em;
    transform: translateX(-110%);
}


/*Global Stylings
--------------------------------*/
/*Links*/
:where(a) {
    color: hsl(var(--clr-neutral-900));
    cursor: pointer;
}

:where(a):visited {
    color: hsl(var(--clr-neutral-900));
}

/*Typography*/
:where(p,
    dl,
    ul) {
    width: 100%;
}

:where(ul) {
    list-style: none;
}

:where(h1,
    h2,
    p,
    ul) {
        line-height: 1.5;
    margin-block: 0.5em;
}

:where(h1,
    h2,
    h3,
    h4) {
    font-weight: var(--fw-bold);
}

:where(h1) {
    margin-block: 1.25em;
    font-size: var(--fs-900);
}

:where(h2) {
    margin-top: 3em;
    font-size: var(--fs-500);
}

:where(small, small > a) {
    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-400)/35%);
}

:where(small > a) {
    text-decoration: underline;
}

/*Images*/
:where(img) {
    height: auto;
}

/*Horizontla Rule*/
:where(hr) {
    display: none;
}

/*Highlights*/
:where(mark) {
    background-color: hsl(var(--clr-accent-500) / 50%);
    padding-block: 0.1em;
}

:where(mark):is(:focus, :hover) {
    background-color: hsl(var(--clr-accent-500));
}

/*Definition lists*/
:where(dt)::after {
    content: ": ";
}

/*Abbreviatios*/
:where(abbr) {
    text-decoration: none;
}

/*--CUSTOM ATTRIBUTES--*/
/*Elements only on articles*/
:where([data-article="pic"]) {
    margin-block: 2.5em;
}

:where([data-article="ul"]) {
    width: calc(100% - 1.5em);
    margin-block: 1.1em;
    margin-left: 1.5em;

    list-style: disc;
}

body {
    font-size: var(--fs-300);
    font-family: var(--ff-accent);
    font-weight: var(--fw-regular);

    color: hsl(var(--clr-neutral-900));
}

/*CUSTOM STYLINGS
--------------------------------*/

/*--SWITCHES (Displaying/Hiding certain elements)--*/
/*--MOBILE NAV--*/
.mobile-nav {
    display: none;
}

/*--MOBILE TOPBAR NAV--*/
.mobile-topbar-nav {
    display: none;
}

/*Upgrade button and Open in App button respectively*/
.mobile-topbar-nav button:nth-child(2),
.mobile-topbar-nav button:last-child {
    display: none;
}

/*--HEADER--*/
/*Save text beside bookmmark icon on button*/
.header__bookmark button>span {
    display: none;
}

/*Follow button*/
.header__author-username-container button {
    display: none;
}

/*------------------------------------------------*/

/*--DESKTOP NAV--*/
.desktop-nav {
    width: 8.5rem;
    min-height: 100vh;

    align-items: stretch;

    display: grid;
    position: fixed;
    top: 0;
    left: 0;

    border-right: 1px solid hsl(var(--clr-neutral-200)/50%);

    background-color: hsl(var(--clr-neutral-100));
}

.desktop-nav__container {
    --flex-gap: 3em;

    margin: 1em 1.5rem 1.5em auto;

    flex-direction: column;
    justify-content: space-between;
}

/*--Desktop Navigation Logo--*/
.desktop-nav svg {
    width: 40px;
    aspect-ratio: 1/1;

    cursor: pointer;
}

/*--Desktop Navigation Links--*/
.desktop-nav__links-container {
    width: 100%;

    place-content: center;
}

.desktop-nav__links {
    --flex-gap: 1.5em;

    width: fit-content;

    flex-direction: column;
    align-items: center;

    font-size: var(--fs-500);

    list-style: none;
}

.desktop-nav__link {
    text-align: end;
}

.desktop-nav__link a {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    display: block;
}

.desktop-nav__link a:hover>i {
    color: hsl(var(--clr-neutral-400));
}

.desktop-nav__link i {
    font-size: var(--fs-400);

    color: hsl(var(--clr-neutral-400)/50%);

    transition: var(--transition-slow);
}

/*Desktop Nav Divider*/
.desktop-nav ul span {
    width: 1em;
    height: 1px;

    display: inline-block;

    background: hsl(var(--clr-neutral-400)/30%);
}

/*Main Content
-----------------*/
main {
    grid-template-columns: 8.5rem auto 25rem;
}

/*Article*/
article {
    margin-block: 1.5rem calc(8vh + 1.5rem);
    width: min(700px, calc(75% + 1em));

    margin-inline: auto;
}

/*Header*/
header {
    min-width: 200px;
    margin-top: 7vh;
}

/*Header buttons*/
header button {
    border: none;

    align-items: start;

    font-weight: var(--fw-regular);

    background: none;
}

.header__container {
    --grid-gap: 0.5em;

    max-width: 700px;
    height: fit-content;

    gap: var(--grid-gap);
    column-gap: 0em;
    flex-basis: 100%;
    grid-template-columns: 60px 6fr 3fr 0.5fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "author-picture author-name author-socials bookmark"
        "author-picture meta-data . .";
}

.header__picture-container {
    grid-area: author-picture;

    place-items: start;
}

.header__author-username-container {
    grid-area: author-name;

    align-self: start;
    align-items: center;
    gap: 1em;
}

.header__author-username {
    margin: 0em;
    width: fit-content;
    line-height: 1;
}

/*Social Media Links*/
.header__links-container {
    grid-area: author-socials;

    align-items: start;
}

.header__links-container ul {
    --flex-gap: 0.6em;

    width: 100%;
    margin: 0em;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: center;
}

.header__links-container li>a {
    display: flex;
    align-items: start;
}

.header__links-container li>button {
    display: flex;

    align-items: start;
}

.header__links-container a {
    height: fit-content;

    text-decoration: none;
}

.header__links-container a:is(:hover, :focus)>i {
    color: hsl(var(--clr-neutral-400));
}

.header__links-container i,
:is(.header__bookmark) button {
    align-self: center;
    justify-self: center;

    font-size: var(--fs-200);

    color: hsl(var(--clr-neutral-400)/50%);

    cursor: pointer;
}

:is(.header__bookmark, .header__settings) button:is(:hover, :focus)>i {
    color: hsl(var(--clr-neutral-900));

    cursor: pointer;
}

.header__bookmark {
    grid-area: bookmark;

    align-items: start;
}

.header__bookmark button {
    border: none;

    color: hsl(var(--clr-neutral-400));
}

:is(.header__bookmark, .header__settings) button i {
    color: hsl(var(--clr-neutral-400));
}

/*Header Meta Data (Publish date, how long it takes to read and listen button)*/
.header__meta-data {
    --flex-gap: 0.5em;

    grid-area: meta-data;
    flex-direction: row;
    align-items: start;
}

.header__meta-data>* {
    width: fit-content;
}

.header__meta-data > div:nth-child(2) {
    --flex-gap: 0.2em;
}

header time,
.header__meta-data>div>time+span,
.header__floating-period {
    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-400));
}



.header__links-container button:is(:hover, :focus)>i {
    color: hsl(var(--clr-neutral-400));
}

header>header>div:not(img) {
    font-size: var(--fs-200);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.header__meta-data button {
    display: flex;
    align-items: center;

    font-size: var(--fs-150);

    color: hsl(var(--clr-accent-900));
    background: transparent;

    cursor: pointer;
}

.header__meta-data button span:first-child {
    padding: 6px;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;

    display: grid;
    place-content: center;

    font-size: var(--fs-100);

    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}


.header__meta-data button i {
    font-size: var(--fs-100);

    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}

.header__meta-data button:hover>span:first-child {
    background: hsl(var(--clr-accent-1000));
    cursor: pointer;
}

.header__meta-data button:hover>span:last-child {
    color: hsl(var(--clr-accent-1000));

    cursor: pointer;
}

.header__settings {
    align-items: start;
    justify-content: center;
    flex-basis: 40px;
}

.header__settings button {
    align-items: start;
}

/*Main Content of Article
------------------------------------------------*/

.article__body {
    font-family: var(--ff-base);
}
.article__body h1,
.article__body h2,
.article__body h3,
.tooltip {
    font-family: var(--ff-accent);
}

.article__body h1 {
    cursor: pointer;
}

article footer {
    border-top: 1px solid hsl(var(--clr-neutral-200)/50%);
}

article small {
    border-top: 0;
}

/*Article Interactions
------------------------------------------------*/
.article__interactions-layout {
    width: 100%;

    grid-template-columns: 8.5rem auto 25rem;

    position: fixed;
    bottom: 2rem;
    left: 0%;
}

.article__interactions {
    width: fit-content;
    border-radius: 100vw;
    padding: 0.5em 1.25em;

    justify-self: center;

    font-size: var(--fs-200);

    background-color: hsl(var(--clr-neutral-100));

    box-shadow: 0 3px 18px hsl(var(--clr-neutral-400)/30%);
}

.article__interactions-container {
    --flex-gap: 1em;

    height: 100%;

    align-items: center;

}

.article__interactions button {
    border: none;

    display: flex;
    gap: 0.5em;
    align-items: center;


    color: hsl(var(--clr-neutral-400) / 50%);
    background: transparent;
}

.article__interactions button:is(:hover, :focus) {
    color: hsl(var(--clr-neutral-400));

    cursor: pointer;
}

.article__interactions .divider {
    width: 1.5px;
    height: 20px;

    display: inline-block;

    background-color: hsl(var(--clr-neutral-200)/50%);
}

/*Right Panel
------------------------------------------------*/
.right-panel {
    width: 25rem;
    height: 100vh;
    padding: 1.5rem 1.675rem;
    border-left: 1px solid hsl(var(--clr-neutral-200)/50%);

    display: block;

    position: fixed;
    inset: 0 0 auto auto;

    font-size: var(--fs-200);

    background-color: hsl(var(--clr-neutral-100));
}

.right-panel__container {
    width: 16rem;
    height: 100%;

    grid-template-rows: 1fr 2fr 2.5fr;
}

.right-panel a:not(small > a) {
    text-decoration: none;
}

/*Button and Input in First Section of Right Panel*/
.right-panel>div>div:first-child {
    --flex-gap: 2.5em;

    flex-direction: column;
}

.right-panel>div:first-child button {
    padding: 0.5em 0.75em;
    border: none;

    font-size: var(--fs-150);
}

label {
    padding: 0.5em 0.75em;
    border: 1px solid hsl(var(--clr-neutral-200)/50%);
    border-radius: 100vw;

    transition: var(--transition-slow);
}

label:focus-within {
    border: 1px solid hsl(var(--clr-accent-900) / 50%);
}

input {
    border: none;

    font-size: var(--fs-150);
}

input:focus {
    outline: none;
}

label>i {
    margin-right: 6px;
}

/*Author's info*/
.right-panel__author-info {
    margin: 0em;
    padding: 0em;

    line-height: 1.3;

    color: hsl(var(--clr-neutral-400));
}

.right-panel__author-info {
    --grid-gap: 1em;
}

.right-panel__author-username {
    font-weight: 600;
}

[data-user="follower-count"],
[data-user="bio"],
[data-user="bio"]>a {
    color: hsl(var(--clr-neutral-400));
}

[data-user="follower-count"]:is(:hover, :focus) {
    color: hsl(var(--clr-neutral-900));
}

[data-user="bio"] a {
    text-decoration: underline;
}

[data-user="bio"] {
    font-size: var(--fs-150);
}

/*Buttons*/
.right-panel__button-section {
    gap: 1em;
}

.right-panel__author-info>div:last-child>button {
    background-color: hsl(var(--clr-accent-900));
    padding: 1em;
}

.right-panel__author-info>div:last-child>button:last-child {
    aspect-ratio: 1/1;
    display: inline-block;
}

.right-panel__author-info>div:last-child>button:is(:hover, :focus) {
    padding: 1em;

    background-color: hsl(var(--clr-accent-1000));

    cursor: pointer;
}

/*Right Panel Footer*/
.right-panel__footer {
    --flex-gap: 1rem;

    flex-direction: column;
    justify-content: flex-end;
}

.right-panel__footer>ul>li>a {
    font-size: var(--fs-125);

    color: hsl(var(--clr-neutral-900) / 0.7);
}

.right-panel__footer ul {
    gap: 0.3em;
}

small {
    border-top: 1px solid hsl(var(--clr-neutral-200)/50%);
    margin-top: 1vh;
    padding-top: 0.5rem;
}

/* MEDIA QUERIES
------------------------------------------------*/
/*For portrait and landscape*/
@media screen and (max-width: 1500px) {
    /*--SWITCHES--*/
    /*------------------------------------------------*/

    main {
        grid-template-columns: 3.75rem auto 25rem;
        margin-bottom: 3vh;
    }

    /*--DESKTOP NAV--*/
    .desktop-nav {
        width: 3.75rem;
        padding-inline: 0;
    }

    .desktop-nav__container {
        margin-inline: auto;
    }

    .desktop-nav__links-container,
    .desktop-nav__picture--profile {
        margin-inline: auto;
    }

    /*--ARTICLE INTERACTIONS--*/
    .article__interactions-layout {
        grid-template-columns: 3.75rem auto 25rem;
    }
}

@media screen and (max-width: 1240px) {
    /*--SWITCHES--*/
    /*------------------------------------------------*/

    main {
        grid-template-columns: 3.75rem auto 19rem;
    }

    /*--HEADER--*/
    header {
        margin-top: 10vh;
    }

    /*--RIGHT PANEL--*/
    .right-panel {
        width: fit-content;
    }

    /*--ARTICLE INTERACTIONS--*/
    .article__interactions-layout {
        grid-template-columns: 3.75rem auto 19rem;
    }

    .header__links-container {
        grid-area: author-socials;
    
        align-items: center;
    }

}

@media screen and (max-width: 1115px) {

    /*--SWITCHES---------------------------------------*/
    /*--DESKTOP NAV--*/
    .desktop-nav {
        display: none;
    }

    /*--RIGHT PANEL--*/
    .right-panel {
        display: none;
    }

    /*--ARTICLE INTERACTIONS--*/
    .invisible {
        display: none;
    }

    /*--HEADER--*/
    /*Save text beside bookmmark icon on button*/
    .header__bookmark button>span {
        display: inline;
    }

    /*Follow button*/
    .header__author-username-container button {
        padding: 0.25em 0.5em;
        
        display: inline-block;
        
        font-size: var(--fs-150);
    }

    /*------------------------------------------------*/

    body {
        font-size: var(--fs-250);
    }

    main {
        grid-template-columns: 1fr;
    }

    /*--MOBILE TOPBAR-NAAV--*/
    .mobile-topbar-nav {
        padding-inline: calc(3% + 0.5em);
        width: 100vw;
        height: 8vh;
        border-top: 1px solid hsl(var(--clr-neutral-200)/50%);

        display: flex;

        align-items: center;
        justify-content: space-between;

        position: fixed;
        inset: 0 auto auto 0;

        background-color: hsl(var(--clr-neutral-100));

        box-shadow: 0 2px 10px hsl(var(--clr-neutral-200)/50%);
    }

    .mobile-topbar-nav svg {
        width: 40px;
        aspect-ratio: 1/1;

        cursor: pointer;
    }

    .mobile-topbar-nav button {
        border: none;
        border-radius: 100vw;
        padding: 0.5em 0.75em;

        font-size: var(--fs-150);

    }

    /*--MOBILE NAV--*/
    .mobile-nav {
        width: 100vw;
        height: 8vh;
        border-top: 1px solid hsl(var(--clr-neutral-200)/50%);

        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 99;

        background-color: hsl(var(--clr-neutral-100));

        box-shadow: 0 -2px 10px hsl(var(--clr-neutral-200)/50%);
    }

    .mobile-nav ul {
        margin: 0;
        height: 100%;

        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        justify-items: stretch;
    }

    .mobile-nav ul li {
        display: grid;
        align-items: stretch;
        justify-items: stretch;
    }

    /*Mobile Menu Link*/
    .mobile-nav ul li a {
        display: grid;
        place-items: center;

        text-decoration: none;
    }

    .mobile-nav i {
        color: hsl(var(--clr-neutral-400)/50%);
    }

    .mobile-nav i {
        color: hsl(var(--clr-neutral-400)/50%);
    }

    /*--HEADER--*/
    header {
        margin-top: 10vh;

        align-items: start;
    }

    .header__container {
        height: 100%;
        grid-template-columns: 60px 30px 12fr;
        row-gap: 0.5em;
        column-gap: 0.2em;
        grid-template-rows: 25% 32% 1fr;
        grid-template-areas:
            "author-picture author-name author-name"
            "author-picture meta-data meta-data"
            "bookmark bookmark author-socials";
    }

    .header__bookmark button{
        border: 1px solid hsl(var(--clr-neutral-400)/70%);
        border-radius: 100vw;
        padding: 0.25em 0.5em;

        gap: 0.5em;
    
        align-items: center;
    }

    .header__author-username-container button {
        padding: 0.2em 0.5em;
        border-radius: 100vw;

        display: inline-block;

        font-size: var(--fs-150);
    }

    .header__bookmark button {
        width: fit-content;
        border: 1px solid hsl(var(--clr-neutral-200));
        padding: 0.6em 1em;
        border-radius: 50vw;

        justify-self: start;
        gap: 0.5em;

        font-size: var(--fs-150);

        color: hsl(var(--clr-neutral-400));
    }

    .header__bookmark button>span {
        display: inline;
    }

    .header__links-container {
        grid-area: author-socials;

        align-items: center;
        /* grid-template-columns: 1fr 5fr 2fr 2fr; */
    }

    .header__links-container ul {
        --flex-gap: 0.6em;

        width: 100%;
        flex-direction: row;


        justify-content: start;
    }

    /*--ARTICLE__INTERACTIONS-LAYOUT*/
    .article__interactions-layout {
        grid-template-columns: 1fr;
        bottom: 5rem;

    }
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width:724px) {

    /*--SWITCHES---------------------------------------*/
    .mobile-topbar-nav button:last-child {
        display: inline-block;
    }

    /*------------------------------------------------*/
}

@media screen and (max-width:599px) {

    /*--SWITCHES---------------------------------------*/
    /*Upgrade Button*/
    .mobile-topbar-nav button:nth-child(2) {
        display: inline-block;
    }

    /*Resume Membership Button*/
    .mobile-topbar-nav button:first-child {
        display: none;
    }

    /*------------------------------------------------*/

}

@media screen and (max-width:421px) {
    .header__settings button{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:414px) {
    .article__links-container {
        padding-left: 1em;
    }
}

