@import url(reset.css);
@font-face {
    font-family: 'Sohne';
    src: url("https://glyph.medium.com/font/b492c44/3k-4f_4h-52_54-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/sohne-400-normal.woff"
    );
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url("https://glyph.medium.com/font/df9ba7f/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-500-normal.woff");
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url("https://glyph.medium.com/font/df9ba7f/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-700-normal.woff");
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'source-serif-pro';
    src: url("https://glyph.medium.com/font/76c214a/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/source-serif-pro-400-italic.woff");
    font-weight: 400; 
    font-style: italic;
}

@font-face {
    font-family: 'source-serif-pro';
    src: url("https://glyph.medium.com/font/8e059b2/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/source-serif-pro-400-normal.woff");
    font-weight: 400; 
    font-style: normal;
} 


/*Variables
--------------------------------*/
:root {
    /*Color*/
    /* --clr-primary: ; */

    --clr-accent-100: 113deg 30% 93%;
    --clr-accent-500: 113deg 30% 77%;
    --clr-accent-900: 119deg 71% 31%;

    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 85%;
    --clr-neutral-400: 0 0% 55%;
    --clr-neutral-900: 0 0% 16%;

    /*Typography*/
    /*--font-size--*/
    --fs-100: 0.3rem;
    --fs-150: 0.67rem;
    --fs-200: 0.8rem;
    --fs-300: 1rem;
    --fs-400: 1.1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-900: 1.5rem; 

    font-size: 20px;

    /*--font-family--*/
    --ff-base: source-serif-pro;
    --ff-accent: Arial, Helvetica, sans-serif;

    /*--font-weight--*/
    --fw-light: 400;
    --fw-regular: 500;
    --fw-bold: 700;

    /*Transition*/
    --transition: 0.4s ease;
}

/*Utility classes
--------------------------------*/
/*Standard*/
.flex-group {
    display: flex; 
    gap: var(--flex-gap);
}
.flex-group--wrap {
    display: flex; 
    gap: var(--flex-gap);
    flex-wrap: wrap;
}

.grid-group {
    display: grid; 
    gap: var(--grid-gap);
}

.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    
    position: absolute;
}

/*Custom Utilities*/
/*--Typography--*/
.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/*--Stylings*/
.border-left {
    width: calc(100% + 1em);
    margin-left: -1em;
    padding-left: 1em;
    margin-block: 2em;
    border-left: 3.5px solid hsl(var(--clr-neutral-900));
}

/*--Tooltip--*/
.tooltip-parent {
    width: fit-content;

    position: relative;
}

.tooltip-parent:hover>.anim-up {
    display: block;

    animation: pop-up forwards 0.1s ease-out;
}
.tooltip-parent:hover>.anim-right {
    display: block;

    animation: pop-right forwards 0.1s ease-out;
}
.tooltip-parent:hover>.anim-down {
    display: block; 

    animation: pop-down forwards 0.1s ease-out;
}
@keyframes pop-up {
    0% {
        transform: translate(-50%, -100%);
    }

    100% {
        transform: translate(-50%, -110%);
    }
}
/* @keyframes pop-right {
    0% {
        transform: translate(-50%, -115%);
    }

    100% {
        transform: translate(-50%, -125%);
    }
} */
.tooltip {
    padding: 0.8em;
    box-sizing: border-box;
    border-radius: 0.15em;

    display: none;

    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-neutral-900));
}

.anim-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -125%);
}
.anim-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(25%, -50%);
}
.tooltip-container {
    --flex-gap: 0.75em;
    align-items: center;
}   
.tooltip button {
    border: none;
    
    font-size: 0.9rem;
    
    background: transparent; 
    color: hsl(var(--clr-neutral-100));

    cursor: pointer;
}
.tooltip-divider {
    width: 1.5px; 
    height: 22px;

    background-color: hsl(var(--clr-neutral-200)/50%);
}
.tooltip span {
    font-size: 0.8em;
    color:hsl(var(--clr-neutral-100) / 50%);
    cursor:text;
}
.tooltip-container {
    position: relative;
}

/*Triangle*/
/*For tooltips that are animating up*/
.anim-up > .tooltip-container::after {
    content: '';
    width: 2.5em;
    height: 1.05em;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);

    position: absolute;
    z-index: 99;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: hsl(var(--clr-neutral-900));
}

/*This is to provide some area below the tooltip so it doesn't disappear when you try and hover on it. I tried doing this with a simply border-bottom on the actual tool-tip but I realised that it wouldn't end up being transparent, and making it white would work for this example, but wouldn't be easily re-usable on other parts of the site.*/
.anim-up > .tooltip-container::before {
    content: '';
    width: calc(100% + 1em); 
    height: 1em; 
    
    position: absolute; 
    top: 100%; 
    left: -0.5em;
    transform: translateY(50%);

    background-color: transparent;

    cursor: auto;
}

/*For tooltips that are animating right*/
.anim-right > .tooltip-container::after {
    content: '';
    height: 1.5em;
    width: 1.1em;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);

    position: absolute;
    z-index: 99;
    top: 50%;
    left: 0%;
    transform: translate(-130%, -50%);

    background-color: hsl(var(--clr-neutral-900));

    cursor: auto;
}

.anim-right > .tooltip-container::before {
    content: '';
    width: 1.3em; 
    height: calc(100% + 1em); 
    
    position: absolute; 
    top: -0.5em; 
    left: -0.5em;
    transform: translateX(-110%);

    background-color: transparent;

    cursor: auto;
}
/*For tooltips that are animating down*/
/*For tooltips that are animating left*/



/*Global Stylings
--------------------------------*/
body {
    font-family: var(--ff-accent);
    font-size: var(--fs-400);
    color: hsl(var(--clr-neutral-900));
}

p,
dl, 
ul {
    width: 100%;
}

h1, 
h2, 
p, 
ul {
    margin-block: 0.5em;
}
/*Typography*/
h1, 
h2, 
h3, 
h4 {
    font-weight: var(--fw-bold);    
}

h1 {    
    font-size: var(--fs-900);
    margin-block: 1.25em;
}

h2 {
    margin-top: 3em;
    font-size: var(--fs-500);
}
small {
    font-size: var(--fs-200);
}

/*Images*/
img {
    height: auto;
}

/*Links*/
a {
    color:hsl(var(--clr-neutral-900));
}
a:visited {
    color: hsl(var(--clr-neutral-900));
}

/*Horizontla Rule*/
hr {
    display: none;
}


/*Highlights*/
mark {
    background-color: hsl(var(--clr-accent-500) / 50%);
    padding-block: 0.1em;
}
mark:is(:focus, :hover){
    background-color: hsl(var(--clr-accent-500));
}

/*Definition lists*/
dt::after {
    content: ": ";
}

/*Abbreviatios*/
abbr {
    text-decoration: none;
}

/*Custom Attributes*/
[data-pic="article-pic"] {
    margin-block: 2.5em;
}

[data-ul="article-ul"] {
    margin-block: 1.1em;
    margin-left: 1.5em;
    width: calc(100% - 1.5em);
}



/*Custom Stylings
--------------------------------*/
/* Nav */
nav {
  width: 7em;
  min-height: 100vh;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-block: 3em 1.5em;


  position: fixed; 
  top: 0; 
  left: 0; 

  border-right: 1px solid hsl(var(--clr-neutral-200)/50%);

  background-color: hsl(var(--clr-neutral-100));
}

/*--Nav Logo--*/
nav svg {
    width: 40px; 
    aspect-ratio: 1/1;

    cursor: pointer;
}

/*--Nav Links--*/
.nav__links-container {
    width: 100%; 

    place-content: end;
}
:is(nav, footer) ul {
    --flex-gap: 1.5em;
    width: fit-content;
    
    flex-direction: column; 
    font-size: var(--fs-500);
    
    list-style: none;
}
nav ul li {
    /* width: 100%; */
    text-align: end;
}
nav ul a {
    display: block;
    padding-inline: 1em 0em;
    
    cursor: pointer;
}
nav ul i {
    font-size: var(--fs-400);
    color: hsl(var(--clr-neutral-400)/50%);
    transition: var(--transition);
}
nav ul a:hover > i {
    color: hsl(var(--clr-neutral-400));
}

/*Nav horizontal rule*/
nav ul span {
    width: 60%;
    height: 1px; 
    
    display: inline-block;

    background: hsl(var(--clr-neutral-400)/30%);
}

/*--Nav Profile Pic*/
.nav__picture--profile {
    border: 2px solid transparent;

    border-radius: 100vw;
    overflow: hidden;
    
    cursor: pointer;
    transition: var(--transition);
}

.nav__picture--profile:hover {
    border: 2px solid hsl(var(--clr-accent-900)/80%);
}
/*Footer*/
article {
    width: min(700px, calc(75% + 1em));
    
    margin-inline: 25vw;
}
.article__footer-container {
    margin-top: 7vh;
}
.article__footer-container button{
    background: none;
    border: none;
}
.article__footer{
    --grid-gap: 0.5em;
    gap: var(--grid-gap);
    column-gap: 0em;
    max-width: 700px;
    height: fit-content;

    flex-basis: 100%;
    grid-template-columns: 1fr 6fr 3fr 0.5fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "author-picture author-name author-socials bookmark"
    "author-picture meta-data . .";
}
.article__picture-container {
    grid-area: author-picture;

    place-items: start;
}
.article__img {
    border-radius: 100vw; 
}
.article__author-username-container {
    grid-area: author-name;

    align-self: end;
    align-items: center;
    gap: 1em;
}
.article__author-username {
    margin: 0em;
    width: fit-content;
    line-height: 1;
}

.article__author-username-container button {
    padding: 0.2em 0.5em;
    border-radius: 100vw;

    display: none;

    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
    
}

.article__links-container {
    grid-area: author-socials;

    align-items:end;
    grid-template-columns: 1fr 5fr 2fr 2fr;
}
.article__links-container ul {
    --flex-gap: 0.6em;

    width: 100%;
    margin: 0em;
    
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: end;
    justify-content: center;
}
.article__links-container a {
    text-decoration: none;
    cursor:pointer;
}

.article__links-container a:is(:hover, :focus) > i {
    color: hsl(var(--clr-neutral-400));
} 
.article__links-container i,
:is(.article__bookmark) button{
    align-self: end;
    
    font-size: var(--fs-200);

    color: hsl(var(--clr-neutral-400)/50%);
    
    cursor: pointer;
}

:is(.article__bookmark, .article__settings) button:is(:hover, :focus) > i {
    color: hsl(var(--clr-neutral-900));

    cursor:pointer;
}

article > footer button {
    border: none;
    background-color: transparent; 
}
.article__bookmark {
    grid-area: bookmark;

    align-items: end;
}

.article__bookmark button{
    border: none;

    color: hsl(var(--clr-neutral-400));
}
.article__bookmark button > span {
    display: none;
}
:is(.article__bookmark, .article__settings) button i {
    color: hsl(var(--clr-neutral-400));
}
.article__meta-data {
    --flex-gap: 0.5em;

    grid-area: meta-data;
    flex-direction: row;
    align-items: start;
}
.article__meta-data > * {
    width: fit-content;
}
footer time, 
.article__meta-data > div > span > time+span,
.footer__floating-period{
    font-size: var(--fs-150);

    color: hsl(var(--clr-neutral-400));
}

.article__links-container button:is(:hover, :focus) > i {
    color: hsl(var(--clr-neutral-400));
}
article > div > footer:not(img) {
    font-size: var(--fs-200);
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.article__meta-data button{
    border: none;

    display: flex; 
    align-items: center;

    font-size: var(--fs-150);

    background: transparent; 
    color: hsl(var(--clr-accent-900));

    cursor: pointer;
}
.article__meta-data button span:first-child {
    padding: 6px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: grid;
    place-content: center;
    
    font-size: var(--fs-100);
    
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}
.article__meta-data button i {    
    font-size: var(--fs-100);
    
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-accent-900));
}    
.article__settings {
    grid-template-rows: 1fr 1fr;
}
.article__settings button {
    align-self: center;
}

.article__body {
    font-family: var(--ff-base);
}

.article__body h1, 
.article__body h2, 
.article__body h3, 
.tooltip {
    font-family: var(--ff-accent);
}

.article__body h1 {
    cursor: pointer;
}


footer:not(article > div > footer) {
    width: 100%; 
    padding-block: 0.5em;
    border-top: 1px solid hsl(var(--clr-neutral-200)/50%);

    place-content: center;
}

.article__interactions {
    width: fit-content;
    border-radius: 100vw;
    padding: 0.5em 1.25em;
    
    position: fixed; 
    inset: auto auto 1.5em 50%;
    transform: translateX(-50%);
    
    font-size: var(--fs-200);

    background-color: hsl(var(--clr-neutral-100));
    box-shadow: 0 3px 18px hsl(var(--clr-neutral-400)/30%);
}

.article__interactions-container {
    --flex-gap: 1em;
    align-items: center;
    height: 100%; 

}
.article__interactions button {
    border: none;
    
    display: flex;
    gap: 0.5em;
    align-items: center;


    color: hsl(var(--clr-neutral-400) / 50%);
    background: transparent;
}

.article__interactions button:is(:hover, :focus){
    color: hsl(var(--clr-neutral-400));
    cursor: pointer;
}

.article__interactions .line {
    width: 1.5px;
    height: 20px;
    display: inline-block;

    
    background-color: hsl(var(--clr-neutral-200)/50%);
}

/*Media Queries
------------------------------------------------*/
/*For portrait and landscape*/
@media screen and (max-width: 1050px) {
    nav {
        display: none;
    }
    article {
        margin-inline: auto;
    }
    .article__footer {
        grid-template-columns: 60px 30px 12fr;
        grid-template-rows: 25% 25% 1fr;
        grid-template-areas: 
        "author-picture author-name author-name"
        "author-picture meta-data meta-data"
        "bookmark bookmark author-socials";    
    }
    .article__author-username-container button {
        display: inline-block;
    }

    
    .article__bookmark button{
        border: 1px solid hsl(var(--clr-neutral-200));
        border-radius: 50vw;

        width: fit-content;

        font-size: var(--fs-150);

        gap: 0.5em;

        padding: 0.6em 1em;

        color: hsl(var(--clr-neutral-400));
    }
    .article__bookmark button > span {
        display: inline;
    }
    .article__links-container {
        grid-area: author-socials;

        align-items: center;
        grid-template-columns: 1fr 5fr 2fr 2fr;
    }

    .article__links-container ul {
        --flex-gap: 0.6em;

        width: 100%;
        flex-direction: row;

        
        justify-content: start;
    }

}

@media screen and (min-width:724px) and (max-width: 1050px){
    body {
        font-size: var(--fs-300);
    }
}

@media screen and (max-width:414px){
    .article__links-container {
        padding-left: 1em;
    }
}
/*For portrait only*/
/*For landscape only*/